# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
lib

# Codeblocks
*.cbp

# Jetbrains
.idea

# generated protobuf
validator-rust/prototypes/components.proto


*.DS_Store
docs/debug/*
docs/doc/.lock
docs/.rustc_info.json
docs/bindings-python/*
docs/doc/*

# jupyter notebook
.ipynb_checkpoints
docs/doc/bstr/utf8/struct.CharIndices.html

target/
Cargo.lock
